# MongoDB connection string (Atlas recommended)
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/ciphersqlstudio

# PostgreSQL sandbox database
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=your_pg_password
PG_DATABASE=ciphersql_sandbox

# JWT secret for auth
JWT_SECRET=your_jwt_secret_here

# Gemini API key  (https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=your_gemini_api_key

# Server port
PORT=5000

# Client URL for CORS
CLIENT_URL=http://localhost:3000
